<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
  <ul id="messages">
 <% errors.array().forEach(error => { %>
   <li class="error"><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form class="form-container"  action="/account/register" method="POST">
    <p class=hint>All fields are required.</p>

    <label for="account_firstname">
        First Name
    </label>

    <input type="text" name="account_firstname" id="account_firstname" required autocomplete="first-name" value="<%= locals.account_firstname %>">
    <label for="account_lastname">
        Last Name
    </label>

    <input type="text" name="account_lastname" id="account_lastname" required autocomplete="last-name" value="<%= locals.account_lastname %>">
    <label for="account_email">
        Email
    </label>

    <input type="email" name="account_email" id="account_email" required autocomplete="email" value="<%= locals.account_email %>">
    <label for="account_password">
        Password
    </label>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
    <input type="password" name="account_password" id="account_password" required autocomplete="current-password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <button type="submit">Register</button>
    <div>
         <span>Already have an account? <a href="/account/login">Login</a></span>
    </div>
</form>
